
body{
  
  box-sizing: border-box;
  margin: 0;
  color: #40514E;
  font-family: 'Merriweather', serif;
  height: 100%;
  background: #F3EFE0;
  font-size: 22px;
  line-height: 150%;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}



hr {
   margin: 20px 0px; 
   border-color: #727878; 
   opacity: 0.2; 
   filter:alpha(opacity=20); 
  }

#profile-img {
  max-width: 100%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

a{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

#university-link{
  color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    margin: 1px 1px;
    text-decoration: none;
}
#university-link:hover{
  color: #EAF6F6;

}

.nav-item{
  color:black;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  text-align: center;
}
.middle-container{

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 22px;
  line-height: 1.64;
  color: inherit;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 180px;
  max-width: 100%;
  position: relative;
  top: 28%;
  z-index: 4;
  padding-top: 40px;
  max-width: 1280px;

}

.bottom-container {
 
  background-color: #66BFBF;
  padding: 50px 0 20px;
  text-align: center;
  
}


.background-white{ 
  background: #FFFFFF; 
}
.background-gray { 
  background: #434242; 
}

.skill-row {
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile {
  width: 100%;
  

}


.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me
{
  text-align: center;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.left-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.right-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

